 @media only screen and (max-width : 992px) {
		body{
			
		}
		h2{color:red;}
}
@media only screen and (max-width: 768px){
	header{
		margin-top:0px;
	}
	h2{color:blue}
}
.navbar{
	background-color:#d7dfc7;
}
.portfolio-container{
	
	background: linear-gradient(to top, #445d1b, #d7dfc7);
}
header {
    //overflow-x: hidden;
	//padding-top:110px;
	
}

header {
	background-image:url("../images/masthead1-ptarmigan-circe-pano-edited.JPG");
	background-repeat: no-repeat;
	background-size:100%;
	color:#f1f1f1;
	text-align:center;
	margin-top:110px;
	//hackery to make height scale
	img {
		vertical-align:top;
		width:100%;
		opacity:0;
	}
	.container {
		//padding-top: 100px;
		//padding-bottom: 50px;
	}
}