 
@import "compass/css3";
@include font-face("Aventura-Bold", font-files("fonts/Aventura-Bold.ttf", "fonts/Aventura-Bold.otf"));
.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.events-container{

	

	.section-mini-bio{
		img{
			float:right;
			width: 200px;
			height: auto;
		}
	}
}
footer{
	background-color: #00230D;
	color: #f3f7f0;
}
 .logo{
	max-width:175px;
}
.image-divider-container{
	background-color: #b4a350;

	 .image-divider{
			padding-top:40px;
		paddingx-bottom:40px;
		
		img{
			max-width:300px;
			display:inline;
			margin: 15px 40px 15px 40px;
		}
		.photo-center{
			 -webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
			-ms-transform: rotate(15deg);
			-o-transform: rotate(15deg);
			transform: rotate(15deg);
		}
		.photo-left{
			 -webkit-transform: rotate(-20deg);
			-moz-transform: rotate(-20deg);
			-ms-transform: rotate(-20deg);
			-o-transform: rotate(-20deg);
			transform: rotate(-15deg);
		}
		.photo-right{
						 -webkit-transform: rotate(10deg);
			-moz-transform: rotate(-5deg);
			-ms-transform: rotate(10deg);
			-o-transform: rotate(10deg);
			transform: rotate(-5deg);
		}
	}
}
.recent-events{
		background: linear-gradient(to top, #003D17, #11791D);
}
.gallery{
	margin: 20px 20px 20px 20px;
	background-color:#black !important;
}

 
 h1{
 padding-top: 200px;
 font-size:48px;}
 p{font-family:Galdeano;
 font-size: 18px;}
 
body{
	font-family:Galdeano;
	background-color:#f1f1f1;
} 
h1, h2, h3, h4, h5, h6, {
	font-family:Aventura;
}
.name{
	color:#000000;
}
//Heading font: Aventura //import into website
//paragraph font: Galdeano;
 @media only screen and (max-width : 992px) {
		.header-container{
			
		}
		h2{color:red;}
}
@media only screen and (max-width: 768px){
	.header-container{
		
	}
	h2{color:blue}
}
@media only screen and (max-width : 480px) {
	.header-container{	
		background-image:none !important;//find a way to get rid of the !important!!!!
	}
	
		h2{color:green}
}
.navbar{
	background-color: lighten(#00230D, 5%);
	min-height:126px !important;
	.nav{
		.nav-social-media{
			float:right !important;
		}
		li{
			a{
				color: #f3f7f0;
			
			}
			a:hover{
				color: #00bfb2;
			}
		}
	
	}
}
.upcoming-events-container, .section-testimonials{
	
	background: linear-gradient(to top, #003D17, #11791D);
}
header {
    //overflow-x: hidden;
	//padding-top:110px;
	
}
.cd-author{
	font-family: Galdeano;
}
.cd-testimonials, .cd-testimonials-item{
	p{font-family: Galdeano;
		font-style: italic;
	}
}
.cd-testimonials-all{
		margin-top:200px;
}
.close-btn-testimonials{
		margin-top:200px;
}
.header-container {
	background-image:url("../images/masthead1-ptarmigan-circe-pano-edited.JPG");
	background-repeat: no-repeat;
	background-size:100%;
	color:#f1f1f1;
	text-align:center;
	margin-top:110px;
	//hackery to make height scale
	img {
		vertical-align:top;
		width:100%;
		opacity:0;
	}
	.container {
		//padding-top: 100px;
		//padding-bottom: 50px;
	}
}