@font-face {
  font-family: "Aventura-Bold";
  src: url('/fonts/fonts/Aventura-Bold.ttf') format('truetype'), url('/fonts/fonts/Aventura-Bold.otf') format('opentype'); }
/* line 4, ../sass/style.scss */
.modal.modal-wide .modal-dialog {
  width: 90%; }

/* line 7, ../sass/style.scss */
.modal-wide .modal-body {
  overflow-y: auto; }

/* line 15, ../sass/style.scss */
.events-container .section-mini-bio img {
  float: right;
  width: 200px;
  height: auto; }

/* line 22, ../sass/style.scss */
footer {
  background-color: #00230D;
  color: #f3f7f0; }

/* line 26, ../sass/style.scss */
.logo {
  max-width: 175px; }

/* line 29, ../sass/style.scss */
.image-divider-container {
  background-color: #b4a350; }
  /* line 32, ../sass/style.scss */
  .image-divider-container .image-divider {
    padding-top: 40px;
    paddingx-bottom: 40px; }
    /* line 36, ../sass/style.scss */
    .image-divider-container .image-divider img {
      max-width: 300px;
      display: inline;
      margin: 15px 40px 15px 40px; }
    /* line 41, ../sass/style.scss */
    .image-divider-container .image-divider .photo-center {
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg); }
    /* line 48, ../sass/style.scss */
    .image-divider-container .image-divider .photo-left {
      -webkit-transform: rotate(-20deg);
      -moz-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
      -o-transform: rotate(-20deg);
      transform: rotate(-15deg); }
    /* line 55, ../sass/style.scss */
    .image-divider-container .image-divider .photo-right {
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(-5deg);
      -ms-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      transform: rotate(-5deg); }

/* line 64, ../sass/style.scss */
.recent-events-bio-container {
  background: linear-gradient(to top, #003d17, #11791d); }

/* line 67, ../sass/style.scss */
.gallery {
  margin: 20px 20px 20px 20px;
  background-color: #black !important; }

/* line 73, ../sass/style.scss */
h1 {
  padding-top: 200px;
  font-size: 48px; }

/* line 76, ../sass/style.scss */
p {
  font-family: Galdeano;
  font-size: 18px; }

/* line 79, ../sass/style.scss */
body {
  font-family: Galdeano;
  background-color: #f1f1f1; }

/* line 83, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Aventura; }

@media only screen and (max-width: 992px) {
  /* line 93, ../sass/style.scss */
  h2 {
    color: red; } }
@media only screen and (max-width: 768px) {
  /* line 99, ../sass/style.scss */
  h2 {
    color: blue; } }
@media only screen and (max-width: 480px) {
  /* line 102, ../sass/style.scss */
  .header-container {
    background-image: none !important; }

  /* line 106, ../sass/style.scss */
  h2 {
    color: green; } }
/* line 108, ../sass/style.scss */
.navbar {
  background-color: #003d16;
  min-height: 126px !important; }
  /* line 113, ../sass/style.scss */
  .navbar .nav li a {
    color: #f3f7f0; }
  /* line 116, ../sass/style.scss */
  .navbar .nav li a:hover {
    color: #00bfb2; }

/* line 122, ../sass/style.scss */
.upcoming-events-container, .section-testimonials {
  background: linear-gradient(to top, #003d17, #11791d); }

/* line 131, ../sass/style.scss */
.cd-author {
  font-family: Galdeano; }

/* line 135, ../sass/style.scss */
.cd-testimonials p, .cd-testimonials-item p {
  font-family: Galdeano;
  font-style: italic; }

/* line 139, ../sass/style.scss */
.cd-testimonials-all {
  margin-top: 200px; }

/* line 142, ../sass/style.scss */
.close-btn-testimonials {
  margin-top: 200px; }

/* line 145, ../sass/style.scss */
.header-container {
  background-image: url("../images/masthead1-ptarmigan-circe-pano-edited.JPG");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #f1f1f1;
  text-align: center;
  margin-top: 110px; }
  /* line 153, ../sass/style.scss */
  .header-container img {
    vertical-align: top;
    width: 100%;
    opacity: 0; }
  /* line 165, ../sass/style.scss */
  .header-container .name {
    color: red;
    z-index: 100;
    position: absolute;
    top: 200px;
    left: 100px; }
